* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --br-url: url(./assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.35);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: #b287b741;
  --border-color-hover: white;
  --border-color-container: rgba(255, 255, 255, 0.075);
  --icon-switch: url(./assets/MoonStars.svg);
  --profile-icon: url(./assets/avatar3.png);
}

.light {
  --text-color: black;
  --br-url: url(./assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.35);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: #47214c41;
  --border-color-hover: #180b1a;
  --border-color-container: rgba(48, 17, 47, 0.075);
  --icon-switch: url(./assets/Sun.svg);
  --profile-icon: url(./assets/avatar3.png);
}

body {
  background: var(--br-url) no-repeat top center/cover;
  height: 100%;
  transition: background 1.5s;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  transition: color 0.5s;
}

#container {
  width: 100%;
  max-width: 588px;
  max-height: 739px;
  margin: 56px auto 0px;
  padding: 24px 24px 48px;
  background-color: #1b283839;
  border: solid 1px var(--border-color-container);
  border-radius: 4%;
}

@media (max-width: 700px) {
  body {
    width: 100%;
    max-width: 700px;
  }

  #container {
    width: 100%;
    max-width: 588px;
    max-height: 739px;
    justify-content: center;
    align-items: center;
    position: center;
  }
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  zoom: 1.5;
  border-radius: 50%;
  border: solid 0.1px var(--border-color-hover);
  transition: border 1.5s;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin: 8px 0px 0px;
  text-align: center;
  color: var(--text-color);
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  color: white;
  border: 0;
  border-radius: 50%;
  background: white var(--icon-switch) no-repeat center;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
  transition: background 0.3s;
  animation: slide-back 0.3s forwards;
}

.light #switch button {
  transition: background 0.3s;
  animation: slide-in 0.3s forwards;
}

#switch button:hover {
  outline: 8px solid var(--surface-color-hover);
}

#switch span {
  width: 64px;
  height: 24px;
  justify-content: center;
  align-items: center;
  background: var(--surface-color);
  border: solid 1px var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: block;
  margin-bottom: 16px;
  border-radius: 9999px;
}

.light #switch button {
  animation: slide-in 0.5s forwards;
}

#togleMode {
  transition: 5s;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 12px 32px 0px;
  gap: 16px;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  margin: auto;
  text-decoration-line: none;
  font-weight: 500;
  font-size: medium;
  border-radius: 8px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: var(--text-color);
  transition: background 0.2s;
}

ul li a:hover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  margin: auto;
  text-decoration-line: none;
  font-weight: 800;
  font-size: large;
  border-radius: 8px;
  border: 1.5px solid var(--border-color-hover);
  background: var(--surface-color-hover);
  backdrop-filter: blur(5px);
  transition: all 0.5s;
}

#social {
  display: flex;
  padding: 24px;
  gap: 6px;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

#social a {
  display: flex;
  padding: 16px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

#social a:hover {
  display: flex;
  background: var(--surface-color-hover);
  padding: 16px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

ion-icon {
  font-size: 24px;
  color: var(--text-color);
}

#social a:hover ion-icon {
  font-size: 24px;
  font-weight: 800;
  transition: all 0.5s;
}

footer {
  color: var(--text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 3rem;
  position: fixed center;
}

footer a {
  color: var(--text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
